/* The following CSS rule sets the opacity of all input elements to 0 */
input {
  opacity: 0;
  }
  
  /* The following CSS rule styles a toggle container */
  .toggle {
  margin: 50px ;
  width: 100px;
  height: 40px;
  position: relative;
  display: inline-block;
  }
  
  /* The following CSS rule styles the inner part of the toggle container */
  .toggle-inner {
  background-color: rgb(253, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  border: solid 1px rgb(152, 151, 151);
  transition: background-color 0.25s ease-in ;
  padding: 4px 10px;
  font-size: 20px;
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  }
  
  /* The following CSS rule adds content to the inner part of the toggle container */
  .toggle-inner::before {
  content: "Yes";
  opacity: 1;
  }
  
  /* The following CSS rule styles the switch button of the toggle */
  .toggle-switch {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(152, 151, 151);
  position: absolute;
  top: -5px;
  left: 75px;
  border-radius: 40px;
  right: -25px;
  bottom: -5px;
  transition: translate 0.25s ease-in ;
  }
  
  /* The following CSS rule moves the toggle switch button to the left and changes its background color when the input is checked */
  input:checked + .toggle-label .toggle-switch {
  translate: -100px;
  transition: translate 0.25s ease-in ;
  }
  
  /* The following CSS rule changes the background color of the toggle inner part when the input is checked */
  input:checked + .toggle-label .toggle-inner {
  background-color: rgb(178, 178, 178);
  transition: background-color 0.25s ease-in ;
  }
  
  /* The following CSS rule changes the content and position of the toggle inner part content when the input is checked */
  input:checked + .toggle-label .toggle-inner::before {
  content: "No";
  left: 55px;
  position: absolute;
  color: rgb(228, 228, 228);
  }